<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Trollwitter</title>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" href="css/reset.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/application.css" media="screen" charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div>
      <header>
        <h1> #Trollwitter </h1>
      </header>
      <section id="content">
        <ul id="tweets">
          <% @results.each do |tweet| %>
            <li> <a href="#">@<%= tweet.username %></a>: </li>
          <% end %>
        </ul>
      </section>
    </div>
  </body>
</html>
