header, section{ display: block; }
div {
  margin: 0 auto;
  width: 1024px;
}
div header h1{
  background: url("../images/header_background.png");
  height: 160px;
  font: normal normal 102px Lucida;
  text-indent: -99000px;
}

div section{
  margin: 0;
  background: #F0F0F0;
}

div #tweets{
  height: 380px;
  overflow: auto;
  padding: 10px 20px;
}
div #tweets li{
  padding: 10px 0;
  border-top: 1px solid #222;
  font: normal normal 15px/15px Lucida;
}
div #tweets li:first-child{
  padding-top: 0;
  border-top: none;
}

div #tweets li a{
  color: #9971FF;
  text-decoration: none;
}
